<!DOCTYPE html>
<html lang="en">
<head>
    <title>List of all users</title>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <script src="app.js"></script>
</head>
<body onload="sendMessage();getMessage();" >
<div id="message"></div>
<h3>Users:</h3>
<table class="users">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Login</th>
        <th>Password</th>
    </tr>
    </thead>
    <tbody>
    <!--<tr th:each="user : ${users}">
        <td th:text="${user?.id}"></td>
        <td th:text="${user?.name}"></td>
        <td th:text="${user?.login}"></td>
        <td th:text="${user?.password}"></td>
    </tr>-->
    </tbody>
</table>
<a href="userCreate.html">New user</a>

</body>

</html>
